.home-container {
  padding-bottom: 100px;
}
.home-nav {
  padding-left: 130px;
  background-color: #f7f7f7;
  height: 56px;
  display: flex;
  align-items: center;
  font-size: 15px;
  & > div {
    margin-right: 30px;
    cursor: pointer;
  }
  & .active {
    color: #ff1795;
  }
}
